.sidebar {
  float: left;
  background-color: grey;
  border: 4px dashed black;
  padding: 10px;
  margin: 20px;
}

img:hover {
  float: right;
  border: 10px solid black;
  padding: 5px;
  margin: 5px;
}

body {
  background-image: linear-gradient(to bottom,red, white);
  background-repeat: no-repeat;
}

.column {
  width:17%;
  float: left;
}
